---
import Layout from "../layouts/Layout.astro";
import Question from "../components/Question.svelte";
---

<Layout title="Welcome to Astro.">
    <main>
        <Question client:only />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
</style>
